@model IEnumerable<BlogCategory>
@using MyBlog.Services
@using MyBlog.Models

@inject IImageService imageService

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<body>
    <!-- Hero Section-->
    @*<section style="background: url(/Img/featured-pic-1.jpeg); background-size: cover; background-position: center center" class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mt-6">
                    <h1>Welcome to Code Road</h1><a href="" class="hero-link">Check out my Portfolio</a>
                </div>
            </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
        </div>
    </section>*@
    <!-- Intro Section-->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="h3">The Code Cache</h2>
                    <p class="text-big">is an educational blog that focuses on <strong>computer programming</strong> and <strong>new technologies</strong> </p>
                </div>
            </div>
        </div>

    </section>
    <section class="featured-posts no-padding-top">
        <div class="container">
            <!-- Categories-->
            @{ var index = 0;}
            @foreach (var category in Model)
            {
                if (index % 2 == 0)
                {
                    <div class="row d-flex align-items-stretch">
                        <div class="text col-lg-7">
                            <div class="text-inner d-flex align-items-center">
                                <div class="content">
                                    <header class="post-header">
                                        <a asp-controller="CategoryPosts" asp-action="CategoryIndex" asp-route-id="@category.Id">
                                            <h2 class="h4">@category.Name</h2>
                                        </a>
                                    </header>
                                    <p>@Html.Raw(category.Description)</p>
                                    <div class="title">
                                        <span>@category.Created.ToString("MMM dd, yyyy")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image col-lg-5" style="min-height:346px;">
                            <img src="@imageService.DecodeFile(category.ImageData, category.ContentType)" alt="...">
                        </div>
                    </div>
                }
                else
                {
                    <div class="row d-flex align-items-stretch">
                        <div class="image col-lg-5" style="min-height:346px;">
                            <img src="@imageService.DecodeFile(category.ImageData, category.ContentType)" alt="...">
                        </div>
                        <div class="text col-lg-7">
                            <div class="text-inner d-flex align-items-center">
                                <div class="content">
                                    <header class="post-header">
                                        <a asp-controller="CategoryPosts" asp-action="CategoryIndex" asp-route-id="@category.Id">
                                            <h2 class="h4">@category.Name</h2>
                                        </a>
                                    </header>
                                    <p>@Html.Raw(category.Description)</p>
                                    <div class="title">
                                        <span>@category.Created.ToString("MMM dd, yyyy")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                index++;
            }
        </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url(/Img/anas-alshanti-unsplash.jpg); background-size: cover; background-position: center bottom" class="divider">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2>Interested in seeing other projects?</h2><a href="https://mattcoppinger.netlify.app/" class="hero-link">My Portfolio</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Posts -->
    @*<section class="latest-posts">
        <div class="container">
            <header>
                <h2>Latest from the blog</h2>
            </header>
                @foreach(var post in ViewBag.post)
                {


            <div class="row">
                <div class="post col-md-4">
                    <div class="post-thumbnail"><a asp-controller="Post" asp-action="Details" asp-route-id="@post.Slug"><img src="@imageService.DecodeFile(post.ImageData, post.ContentType)" alt="..." class="img-fluid"></a></div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            <div class="date">@post.Created</div>
                            <div class="category"><a href="#">@post.BlogCategory.Name</a></div>
                        </div><a href="post.html">
                            <h3 class="h4">@post.Title</h3>
                        </a>
                        <p class="text-muted">@post.Abstract</p>
                    </div>
                </div>
                
            </div>
                }
        </div>
    </section>*@
</body>
</html>
